.Modal{
    background:red;
    padding: 1rem;
    background: white;
    border: 1px solid lightgray;
    margin: 2rem;
    border-radius: 5px;
    width: 40%;
    height: auto;
    position: absolute;
    left: calc(50% - 22.3%);
    top: 15%;
}

@media(max-width:720px){
    .Modal{
        width: 80%;
        height: auto;
        left: 0;
        margin: 10%;
        
    }
}